@font-face
{
font-family: "degima";
src: url('https://cdn.leafscape.be/dejima-mincho/dejima-mincho_web.woff2')
     format("woff2");
}
body {
    background: #333333;
    width: 540px;
    margin: auto;
    border-radius: 10px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding: 5px;
}
#Title {
    color: white;
    text-align: center;
    margin-bottom: 0px;
    font-size: 4em;
}

#All {
    text-align: left;
}

#Sub {
    background-color: white;
    padding: 0px 20px 20px 20px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-bottom: 20px;
}
p.Subtitle {
    font-family:  "degima";
    color: purple;
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 3em;
    font-weight: 900;
}

table {
    margin-top: 0px;
    padding-top: 0px;
}
li {
    color: black;
    font-size: 1.3em;
}

th {
    width: 160px;
    vertical-align: top;
    text-align: left;
}

td {
    text-align: left;
}

a.Link {
    color: #7e1083;
}

a:hover {
    text-decoration: none;
    color: blueviolet;
}